services:
  firebase-emulator:
    image: eclipse-temurin:21.0.10_7-jre
    container_name: $COMPOSE_PROJECT_NAME-firebase-emulator
    hostname: firebase-emulator
    command: bash -c "curl -sL https://firebase.tools | bash && firebase emulators:start"
    working_dir: /app
    ports:
      - 4000:4000 # UI
      - 9099:9099 # Auth
      - 8080:8080 # Firestore
    volumes:
      - ./:/app
    healthcheck:
      test: curl -f http://127.0.0.1:4000 || exit 1

  frontend:
    container_name: $COMPOSE_PROJECT_NAME-frontend
    hostname: frontend
    build:
      context: .
      args:
        TAG_NAME: 1.0.0-test
        TARGET_ENV: test
    profiles:
      - test
      - cypress
    environment:
      PORT: 80
    ports:
      - 4200:80
    healthcheck:
      test: curl -f 127.0.0.1 || exit 1
    depends_on:
      firebase-emulator:
        condition: service_healthy

  cypress:
    image: cypress/included:15.10.0
    container_name: $COMPOSE_PROJECT_NAME-cypress
    profiles:
      - cypress
    environment:
      CYPRESS_BASE_URL: http://frontend/en
    working_dir: /app
    volumes:
      - ./:/app
    depends_on:
      frontend:
        condition: service_healthy
