<div class="card m-3">
    <div class="card-body">
        <h5 class="card-title fw-bold" i18n>Installation on iOS</h5>
        <p i18n>Install NGX Todo without the App Store in 3 easy steps:</p>
        <ol>
            <li i18n>Tap on the share <img src="install/ios/share.jpeg" alt=""> button</li>
            <li i18n>Scroll down a little and tap on <img src="install/ios/add-to-home-screen.jpeg"
                    alt="'Add to Home Screen'"></li>
            <li i18n>Tap <img src="install/ios/add.jpeg" alt="'Add'"> on the top right corner</li>
            <li i18n>Done, NGX Todo is installed!</li>
        </ol>
        <p i18n>If you want to <b>change the language</b> after the app was installed, make sure to uninstall it first
            and then
            reinstall it in your desired language.</p>
    </div>
</div>

<button class="btn btn-link px-5" routerLink="/auth/login" i18n>
    Back to login
</button>

<app-langauage-picker class="mt-2"></app-langauage-picker>