<div class="card m-3">
    <div class="card-body">
        <h5 class="card-title fw-bold" i18n>Installing on iOS</h5>
        <p i18n>A native app for iOS is on the way! Until then, follow these steps to get the best experience for NGX
            Todo on iOS:</p>
        <ol>
            <li i18n>Tap on the share <img src="ios-install/share.jpeg" alt=""> button</li>
            <li i18n>Scroll down a little and tap on <img src="ios-install/add-to-home-screen.jpeg"
                    alt="Add to Home Screen"></li>
            <li i18n>Tap <img src="ios-install/add.jpeg" alt="Add"> on the top right corner</li>
            <li i18n>Now you can access NGX Todo from your home screen!</li>
        </ol>
    </div>
</div>

<button class="btn btn-link px-5" routerLink="/login" i18n>
    Back to login
</button>

<app-langauage-picker class="mt-2"></app-langauage-picker>