<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6 col-xxl-5">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="loginForm" class="d-flex flex-column gap-4 align-items-center p-3"
                        (ngSubmit)="login()">
                        <h5 class="card-title fw-bold m-0" i18n>Login</h5>

                        <div class="text-center align-self-stretch">
                            <label for="email" class="form-label" i18n>Email</label>
                            <input formControlName="email" type="email" class="form-control text-center" id="email"
                                appBootstrapValidation data-cy="email">
                        </div>

                        <div class="text-center align-self-stretch">
                            <label for="password" class="form-label" i18n>Password</label>
                            <input formControlName="password" type="password" class="form-control text-center"
                                id="password" appBootstrapValidation data-cy="password">
                        </div>

                        @if (sessionExpired()) {
                        <div class="alert alert-danger m-0" i18n>
                            Session expired, please login again
                        </div>
                        }

                        @if (isError()) {
                        <div class="alert alert-danger m-0" i18n>
                            Invalid email or password
                        </div>
                        }

                        <button type="submit" class="btn btn-primary btn-lg px-5"
                            [disabled]="loginForm.invalid || isLoading()">
                            <span class="me-2" *appSpinner="isLoading()"></span>
                            <span i18n>Login</span>
                        </button>

                        <button type="button" class="btn btn-link px-5" routerLink="/signup" i18n>
                            Create Account
                        </button>
                    </form>
                </div>
            </div>

            <div class="d-flex justify-content-center gap-3 mt-3">
                @if (devicePlatform === 'desktop' || devicePlatform === 'android-web') {
                <a href="/ngx-todo-install.apk" target="_blank" app-icon="android" app-icon-colour="dark"
                    app-icon-size="lg" class="btn-market d-flex align-items-center gap-2">
                    <span class="d-flex flex-column align-items-start">
                        <small class="lh-1">GET IT FOR</small>
                        <span class="lh-1">Android</span>
                    </span>
                </a>
                }
                @if (devicePlatform === 'desktop' || devicePlatform === 'ios-web') {
                <a routerLink="/ios-install" app-icon="apple" app-icon-colour="dark" app-icon-size="lg"
                    class="btn-market d-flex align-items-center gap-2">
                    <span class="d-flex flex-column align-items-start">
                        <small class="lh-1">Download for</small>
                        <span class="lh-1">iPhone</span>
                    </span>
                </a>
                }
            </div>
        </div>
    </div>
</div>

<app-langauage-picker class="mb-4"></app-langauage-picker>