<div class="card cursor-pointer mb-3" [routerLink]="'/todos/' + todo().id" [class.pe-none]="isDeleting()">
    <div class="card-body">
        <div class="drag-handle h-100">
            <ng-content></ng-content>
        </div>
        <h6 class="card-title m-0 fw-bold" data-cy="todo-title">{{todo().title}}</h6>
        <span class="card-text d-inline-flex align-items-center" data-cy="todo-content">
            {{ todo().content | multiLineAbbreviation:5 }}
        </span>
        <button app-icon="pen" app-icon-colour="primary" app-icon-size="sm" class="justify-self-end"> </button>
        <span class="align-self-start">
            <span *appSpinner="isDeleting()" class="me-1"></span>
            <button data-cy="delete-todo" (click)="deleteTodo($event)" [disabled]="isDeleting()" app-icon="trash"
                app-icon-colour="danger" app-icon-size="sm">
            </button>
        </span>
    </div>
</div>