input.form-control,
textarea.form-control,
input.form-control:focus,
textarea.form-control:focus {
    background-color: $gray-100;
}

small,
.small {
    font-size: 0.65rem;
}

.btn {
    min-width: 2.625rem;
    min-height: 2.625rem;
}

.btn-sm {
    min-width: 2rem;
    min-height: 2rem;
}

.btn-lg {
    min-width: 3.375rem;
    min-height: 3.375rem;
}