$border-radius: 1.4rem;
$border-radius-sm: 1rem;
$border-radius-lg: 2rem;

$body-bg: #fff3cd; // yellow-100
$card-bg: #e0cffc; // indigo-100

$primary: #6ea8fe; // blue-300
$secondary: #dee2e6; // gray-300
$success: #75b798; // green-300
$warning: #ffda6a; // yellow-300
$danger: #ea868f; // red-300
$info: #6edff6; // cyan-300