<div class="d-flex flex-column h-100">
    <div class="d-flex justify-content-between justify-content-md-end align-items-center px-3">
        <button class="d-md-none" (click)="goBack()" data-cy="back" app-icon="arrow-left" app-icon-colour="link">
            <span class="ms-1" i18n>Back</span>
        </button>

        @switch (saveStatus()) {
        @case ('loading') {
        <span class="badge text-bg-info" i18n>Saving...</span>
        }
        @default {
        <span class="badge text-bg-secondary" i18n>Saved</span>
        }
        }
    </div>

    <form [formGroup]="todoForm" class="flex-grow-1 d-flex flex-column m-md-3">
        <input data-cy="todo-title-input" formControlName="title"
            class="form-control fw-bold rounded-0 border-0 pt-2 shadow-none" i18n-placeholder placeholder="Title...">
        <textarea data-cy="todo-content-input" formControlName="content"
            class="flex-grow-1 form-control resize-none rounded-0 border-0 pt-0 shadow-none" i18n-placeholder
            placeholder="Content..."></textarea>
    </form>
</div>