name: Lint & Test

on:
  push:
    branches:
      - main
  workflow_run:
    workflows: ["Dependabot auto-merge"]
    types:
      - completed

jobs:
  lint-test:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: 22

      - name: Install NPM packages
        run: npm install

      - name: Lint
        run: npm run lint

      - name: Run Cypress tests
        run: npm run cypress:docker
